*{margin:0;padding:0;box-sizing:border-box;font-family: "Source Sans Pro", Helvetica, sans-serif;}

:root{
    --bgcol:#5d5f93;
    --mcol0:#293ef6;
    --mcol1:#3621f3;
    --mcol2:#1919d2;
    --txtcol0:#9190ae;
    --txtcol1:#64608b;
    --whitecol:#caced1;
    --darkcol:#2a2638;
}


body{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:15vh;
    background-color:var(--bgcol);
}

#puzzle_container{
    position: relative;
    width: 50vh;
    height:50vh;
    background-color:var(--darkcol);
    border-radius:2px;
    border:1px solid var(--mcol0);
    
}

.puzzle_block{
    position:absolute;
    left:0;
    top:0;
    width:33.4%;
    height:33.4%;
    background-color:var(--txtcol1);
    color:var(--whitecol);
    font-size:10vh;
    font-weight:bold;
    text-align:center;
    padding-top:3%;
    cursor: pointer;
    user-select:none;
    transition:left 0.3s,top 0.3s;
}

#container{
    display:flex;
    flex-direction:row;
    width:50vh;
    height:10vh;
    background-color:var(--darkcol);
    border-radius:8px;
    margin-top:22px;
}

.mixbutton{
    flex-grow:1;
    background-color:inherit;
    color:var(--mcol2);
    text-align:center;
    font-size:3vh;
    font-weight:bold;
    padding-top:5%;
    margin:4px;
    cursor: pointer;
    
}
